<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{/about}">About</a>
        </div>
        <a th:href="@{/signup}">Sign up</a>
        <div>
            <a th:href="@{/timeline}">Timeline</a>
        </div>
        <a th:href="@{/emplogin}">Employee Login</a>
        <div>
            <a th:href="@{/custlogin}">Customer Login</a>
        </div>
    </nav>
    <hr/>
</header>

<div class="container">
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>

    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
</div>
<footer>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p>copyright</p>
</footer>

</body>
</html>