<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <title th:text="${page_title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/stylestemp.css}"/>
</head>
<body>
<header th:fragment="header">
    <nav>
        <div>
            <a th:href="@{/about}">About</a>
        </div>
        <a th:href="@{/signup}">Sign up</a>
        <div>
            <a th:href="@{/timeline}">Timeline</a>
        </div>
        <a th:href="@{/emplogin}">Employee Login</a>
        <div>
            <a th:href="@{/custlogin}">Customer Login</a>
        </div>
    </nav>
    <hr/>
</header>
<footer th:fragment="footer">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p>copyright</p>
</footer>
</body>
</html>