<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <title th:text="${page_title}">Title</title>
    <!--<link rel="stylesheet" th:href="@{/css/stylestemp.css}"/>-->
</head>
<body>
<header th:fragment="header">
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/teams}">Teams</a>
        <a th:href="@{/Store}">Store</a>
        <a th:href="@{/about}">About</a>
    </nav>
        <div>
            <a id="account">Account</a>
            <ul id="account-list" class="drop-down">
                <li><a>Profile</a></li>
                <li><a>Profile</a></li>
                <li><a>Setting</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>



</header>
<footer th:fragment="footer">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p>copyright</p>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{app.js}"></script>
</footer>
</body>
</html>